<table class="table table-hover table-secondary text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Second Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of formData">
      <th scope="row">{{data.id}}</th>
      <td>{{data.name}}</td>
      <td>{{data.secondName}}</td>
      <td>{{data.email}}</td>
      <td><button type="button" class="btn btn-warning">Alterar</button></td>
      <td><button type="button" class="btn btn-danger">Deletar</button></td>
    </tr>
  </tbody>
</table>
